# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Frontend builds
frontend/node_modules/
frontend/dist/
frontend/build/

# Local databases & logs
*.db
*.sqlite3
*.log

# Environment variables
.env

# OS files & zips
.DS_Store
Thumbs.db
*.zip
